@using APM.Models.Security;

@{
    string FieldName = (string)ViewData["FieldName"];
    string Value = ViewData["FieldValue"] == null ? "" : (ViewData["FieldValue"].ToString());
    string FieldClass = ViewData["FieldClass"] == null ? "" : (ViewData["FieldClass"].ToString());
    Dictionary<string, object> Attrs = new Dictionary<string, object>();

    Attrs.Add("autocomplete", "off");
    Attrs.Add("type", "password");
    Attrs.Add("class", "PasswordField");

    if ((bool)ViewData["IsRequired"])
    {
        Attrs.Add("required", "required");
        Attrs.Add("validationMessage", "ورود داده الزامی است");
    }

}

@(Html.Kendo().TextBox()
.Name(@FieldName)
.Enable(!(bool)ViewData["IsReadonly"])
.HtmlAttributes(Attrs)
.Value(Value)
)

<span tabindex="-1" class="k-input-button k-icon-button k-button-md k-button-solid k-button-solid-base AppendButton" onmousedown=" MousedownPassword(@ViewData["FieldName"])" onmouseup=" MouseupPassword(@ViewData["FieldName"])">
    <span class="k-icon k-i-preview k-button-icon"></span>
</span>

<span tabindex="-1" class="k-input-button k-icon-button k-button-md k-button-solid k-button-solid-base AppendButton" onclick=" GeneratePassword(@ViewData["FieldName"])">
    <span class="k-icon k-i-reload k-button-icon"></span>
</span>
