<div style="font-size: 19px">اطلاعیه</div>
<div class="k-spacer"></div>
<div id="new-count"> <span style="margin-inline: 5px; font-family:'B Nazanin'; font-weight:600;">@Session["NotifiDataCount"]</span> جدید</div>
