@using APM.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "خطا";
}



<div id="MainDivision" style="height: 100%; background-color: #ffffff; overflow: hidden;">
    <div style="width:100%;text-align:center;margin-top:8%;">
        <div class="col-sp-4 row-sp-4">
            <span class="k-icon k-i-error" style="font-size: 98px;color: #ff0000;"></span>
            <br />
            <span style="font-size: 200%; color: #ff0000; ">بروز خطا در سامانه</span>
            <br />
            <p style="font-size: 200%; margin-top: 20px;">عدم ارتباط با پایگاه داده</p>
        </div>
        <div class="col-sp-4" style="font-size:150%;margin-top:25px;">
            <a href="~/signin">ورود به سامانه</a>
        </div>
        <div class="col-sp-4" style="font-size:150%;margin-top:25px;">
            <img src="~/Theme/Image/Error.png" />
        </div>
    </div>
</div>