 
            <div  id="ForgotPasswordForm" class="form" style="display:none"> 
                <i class="TitleColor">نوع ارسال کد را انتخاب نمایید  </i> 

                <div>
                    <input type="radio" id="SendSMS" name="SendType" value="SMS"  onclick="SendTypeChange(this)" checked>
                    <label for="SendSMS">SMS</label><br>
                </div>
                    @(Html.Kendo().TextBox()
                    .Name("ForgotPassword_PhoneText")
                    .HtmlAttributes(new { placeholder = "شماره موبایل", @class = "FormItemInput", autocomplete = "off",validationMessage= "شماره موبایل را وارد نمایید", required= true})
                    )
                <div>
                    <input type="radio" id="SendEmail"  name="SendType" value="Email" onclick="SendTypeChange(this)">
                    <label for="SendEmail">Email</label><br>
                </div>
                    @(Html.Kendo().TextBox()
                        .Name("ForgotPassword_EmailText")
                        .HtmlAttributes(new { placeholder="ایمیل", type = "email", @class = "FormItemInput", autocomplete = "off" ,required= true }).Enable(false)
                     ) 

                    <div class="links">
                        <a href="#"></a><a href="#" id="ForgotPasswordGoToSignINForm">بازگشت</a>
                    </div>
                <div class="inputBox">
                    <button onclick="SendCode()">ارسال</button>
                </div> 
            </div>
 



